body{
    background-color: rgba(0, 0, 0, 0.67);
}

/* 
---------------------------------------
          Geral
---------------------------------------
*/

input{
    text-align: center;
    justify-content: center;

    font-weight: 400;
    font-size: 35px;

    margin: 2px;   
    border-radius: 6px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* 
---------------------------------------
          Areas
---------------------------------------
*/
#principal,#historicOutputs{
    width: 80%;
    display: flex;

    justify-content: center; 
    text-align: center;

    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;

    padding: 10px;
    border-radius: 10px;
}

#principal,#historicOutputs{
    background-color: rgba(0, 0, 0, 0.616);
}

#historicOutputs{
    color: white;
    font-weight: 900;
    height: 250px;
    border-radius: 10px;
}

/* 
---------------------------------------
          Area Calc 
---------------------------------------
*/



/* Area Calc Result*/
#result{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;

    padding: 5px;

    display: flex;
    flex-wrap: nowrap;
}

#display, #displayCount{
    height: 30px;
    font-size: 20px;
    color: white;
}

#displayCount{
    width: 35%;
    /* background-color: blueviolet; */
}

#display{
    width: 65%;
    text-align: end;    
}

/* Area Calc Operations*/

#operations{
    display: flex;
}

#operations input{
    width: 14%;
}

input#eraser{
    font-size: 20px;
}

/* Filhos */

#operations :nth-child(1){
    order: 6;
}
#operations :nth-child(2){
    order: 5;
}
#operations :nth-child(3){
    order: 4;
}
#operations :nth-child(4){
    order: 3;
}
#operations :nth-child(5){
    order: 2;
}
#operations :nth-child(6){
    order: 1;
} 

/* Area Calc Lines*/

#line1,#line2,#line3,#line4{
    width: 100%;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: nowrap;
}

/* Area Lines > Inputs */

#calc input{
    width: 22%;
    height: 44px;    
}

/* 
---------------------------------------
            Area Resultados 
---------------------------------------
*/

textarea{
    border-radius: 10px;
    padding: 10px;
    margin: 0px auto 15px auto;
    width: 90%;
    height: 200px;
    font-size: large;
}

textarea:disabled{
    background-color: white;
}
