body{
    background-color: rgba(0, 0, 0, 0.67);
}

/* 
---------------------------------------
          Geral
---------------------------------------
*/

input{
    text-align: center;
    justify-content: center;

    font-weight: 400;
    font-size: 35px;

    margin: 2px;   
    border-radius: 6px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* 
---------------------------------------
          Areas
---------------------------------------
*/
#principal,#historicOutputs{
    width: 80%;
    display: flex;

    justify-content: center; 
    text-align: center;

    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;

    padding: 10px;
    border-radius: 10px;
}

#principal,#historicOutputs{
    background-color: rgba(0, 0, 0, 0.616);
}

#historicOutputs{
    color: white;
    font-weight: 900;
    height: 250px;
    border-radius: 10px;
}

/* 
---------------------------------------
          Area Calc 
---------------------------------------
*/



/* Area Calc Result*/
#result{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;

    padding: 5px;

    display: flex;
    flex-wrap: nowrap;
}

#display, #displayCount{
    height: 30px;
    font-size: 20px;
    color: white;
}

#displayCount{
    width: 35%;
    /* background-color: blueviolet; */
}

#display{
    width: 65%;
    text-align: end;    
}
